
<!--<div class="modal" id="test_modal"></div>-->
<!--<br>-->
<!--<script>-->
  <!--let opt = {-->
    <!--consumerDetails: {-->
      <!--firstName: "John",-->
      <!--lastName: "Doe",-->
      <!--email: "john.doe@gmail.com",-->
      <!--phoneNumber: "7345551212",-->
      <!--merchantConsumerId: "merchant-internal-consumer-id",-->
      <!--shippingAddress: {-->
        <!--line1: "3 My Street",-->
        <!--line2: "My Building, 4th floor",-->
        <!--city: "New York",-->
        <!--zipCode: "10019",-->
        <!--state: "NY"-->
      <!--},-->
      <!--billingAddress: {-->
        <!--line1: "3 My Street",-->
        <!--line2: "My Building, 4th floor",-->
        <!--city: "New York",-->
        <!--zipCode: "10019",-->
        <!--state: "NY"-->
      <!--}-->
    <!--},-->

    <!--// 3.-->
    <!--items: [-->
      <!--{-->
        <!--name: "Awesome Product",-->
        <!--price: 1999.0,-->
        <!--sku: "AWSMPRDCT",-->
        <!--quantity: 2,-->
        <!--leasable: true,-->
        <!--warranty: {-->
          <!--name: "Awesome Warranty",-->
          <!--price: 100.0,-->
          <!--sku: "AWSMWRNTY"-->
        <!--}-->
      <!--}-->
    <!--],-->

    <!--// 4.-->
    <!--discounts: [-->
      <!--{-->
        <!--name: "Birthday discount",-->
        <!--amount: 20-->
      <!--}-->
    <!--],-->

    <!--// 5.-->
    <!--taxAmount: 199.0,-->
    <!--shippingAmount: 19.0,-->
    <!--totalAmount: 4296.0,-->

    <!--// 6.-->
    <!--onDataUpdate: function (updatedData, callback) {-->
      <!--console.log('onUpdate!');-->
      <!--return {};-->
    <!--},-->

    <!--// 7.-->
    <!--callback: function (token, data, error) {-->
      <!--console.log('callbeck!');-->

    <!--}-->
  <!--}-->
<!--</script>-->

<!--<script type="text/javascript">-->
  <!--// 1.-->
  <!--var caConfig = {-->
    <!--apiKey: '2822a1be8bacff37d4925373eb3e3a1377e4b8ff'-->
  <!--};-->

  <!--// 2.-->
  <!--!function(e,t,c,a,n){var r,o=t.getElementsByTagName(c)[0];-->
    <!--t.getElementById(a)||(e.ChargeAfter={cfg:n},(r=t.createElement(c)).id=a,-->
      <!--r.src="https://cdn.chargeafter.com/checkout/v1/checkout.min.js?t="+1*new Date,-->
      <!--r.async=!0,o.parentNode.insertBefore(r,o))}-->
  <!--(window,document,"script","chargeafter-checkout",caConfig);-->
<!--</script>-->
<!--<a href="javascript:void(0)" class="ca-checkout-button" data-button-type="large-upto-90days"-->
   <!--onclick="ChargeAfter.ui.present(this.opt);"></a>-->
<!--<a></a>-->
